@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply min-h-screen;
}

h1,
h2,
h3,
h4 {
  @apply mb-2 leading-none;
}

p {
  @apply my-4;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.window-container {
  @apply flex justify-center items-center absolute w-full h-full;
}

.window-title {
  @apply flex items-center justify-between;
}

.close-icon {
  @apply w-4 h-4 -m-0.5 relative rotate-45;
}

.close-icon:before,
.close-icon:after {
  @apply absolute;
}

.close-icon:before {
  @apply h-full w-0.5 left-1/2 translate-x-1/2 bg-black;
}

.close-icon:after {
  @apply h-0.5 w-full left-0 top-1/2 translate-y-1/2 bg-green-400;
}

.beans {
  @apply z-10;
}

.header {
  @apply z-10;
}

.bouncing-container {
  @apply relative overflow-hidden h-full w-full;
}

.event-item {
  @apply absolute whitespace-nowrap;
}

.bouncing-container {
  @apply relative h-screen;
}

.window {
  @apply bg-white text-black;
}

.dark-mode .window {
  @apply bg-black text-green-400;
}

.content-container {
  min-height: calc(100vh - 60px);
  @apply flex justify-center p-4;
}


.profile-container {
  @apply absolute top-0 left-1/2 sm:left-auto lg:left-1/3 xl:left-1/2 transform -translate-x-1/2;
}

.qrBackground {
  @apply bg-center bg-no-repeat bg-contain w-full h-full;
}

.modal {
  @apply bg-white p-5 rounded-md shadow-lg w-64 h-64;
}

.overlay {
  @apply fixed top-0 left-0 right-0 bottom-0 bg-black bg-opacity-50 z-50;
}

@keyframes loadingText {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.loading-text {
  animation: loadingText 1.5s ease-in-out infinite;
}

.notepad-textarea {
  @apply w-full h-20 max-h-40 text-lg mt-2 mb-2 resize-y bg-black text-green-400 border-none outline-none;
}
