@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";




body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.window-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.window-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close-icon {
  
  width: 16px;
  height: 16px;
  margin-left: -1px;
  margin-top: -1px;
  transform: rotateZ(45deg);
  position: relative;
  &:before,
  &:after {
    content: "";
    position: absolute;
  }
  &:before {
    height: 100%;
    width: 3px;
    left: 50%;
    transform: translateX(-50%);
      background-color: #000000;
  }
  &:after {
    height: 3px;
    width: 100%;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #06fc99;;
  }
}

.beans {
  z-index: 1000;
}

.header {
  zIndex: 1;
}

.bouncing-container {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.event-item {
  position: absolute;
  white-space: nowrap;
}

.bouncing-container {
  position: relative;
  height: 100vh;
}


    .window {
      background-color: #ffffff;
      color: #000000;
    }
    
    /* Window styles for dark mode */
    .dark-mode .window {
      background-color: #000000;
      color: #06fc99;
    }

    .content-container {
      min-height: calc(100vh - 60px); 
      display: flex;
      justify-content: center;
      
    }

    .profile-container {
      position: absolute;
      top: 0;
      left: 43vw;
    }

    .qrBackground {
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 100%;
      height: 100%;
    }

    .modal {
      background-color: white;
      padding: 20px;
      border-radius: 4px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      width: 250px;
      height: 250px;
    }
    
    
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 999;
    }
    

    /* animations.css */
@keyframes loadingText {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

.loading-text {
  animation: loadingText 1.5s ease-in-out infinite;
}

.notepad-textarea {
  width: 100%;
  height: 150px;
  min-height: 150px;
  max-height: 150px;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  resize: vertical;
  background-color: #000000;
  color: #06fc99;
  border: none;
  outline: none;
}





